In [1]:

import pandas as pd
import time
from safegraph_py_functions import safegraph_py_functions as sgpy


years = ['2019']
months = pd.date_range(start='2019-01-01', end='2019-12-31',freq= 'M')
months = list(months.strftime('%m'))
list_files = ['patterns-part1.csv.gz','patterns-part2.csv.gz',
              'patterns-part3.csv.gz','patterns-part4.csv.gz']

demo = pd.read_csv('/Users/yeabinmoon/Dropbox (UH-ECON)/Research/JMP/data/open_census/race_cbg.csv',
                   index_col = 0, dtype = {'poi_cbg':str})

In [2]:
demo

             poi_cbg     white     black     asian  hispanic
0       010010201001  0.763758  0.214765  0.000000  0.021477
1       010010201002  0.826877  0.082213  0.007115  0.029249
2       010010202001  0.376042  0.591667  0.000000  0.013542
3       010010202002  0.488673  0.461974  0.019417  0.012136
4       010010203001  0.626481  0.217851  0.011421  0.096447
...              ...       ...       ...       ...       ...
220328  721537506011  0.000000  0.000000  0.000000  1.000000
220329  721537506012  0.000000  0.000000  0.000000  1.000000
220330  721537506013  0.026778  0.000000  0.000000  0.973222
220331  721537506021  0.009476  0.000000  0.000000  0.990524
220332  721537506022  0.000000  0.000000  0.000000  1.000000

[220333 rows x 5 columns]

In [3]:
months

['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']